<h1 class="text-3xl text-gray-700">来店履歴作成</h1>

<%= flash[:alert] %>

<% if @customer_visit_history.errors.any? %>
  <ul>
    <% @customer_visit_history.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= render 'form', customer_visit_history: @customer_visit_history %>
