<h1 class="text-3xl text-gray-700">アカウント</h1>
<div class="flex flex-col mt-16 pb-10">
  <div class="-m-1.5 overflow-x-auto">
    <div class="p-1.5 min-w-full inline-block align-middle">
      <div class="border overflow-hidden dark:border-gray-100 shadow-md rounded">
        <table class="min-w-full divide-y divide-gray-200">
          <thead class="bg-white">
            <tr>
              <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase"><%= sort_link(@q, :name, "名前") %></th>
              <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">メールアドレス</th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200">
            <% if @admins %>
              <% @admins.each do |admin| %>
                <tr onclick="window.location='<%= admin_path(admin) %>'" class="hover:bg-gray-50 bg-white cursor-pointer">
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800"><%= admin.name %></td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800"><%= admin.email %></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
