<!-- app/views/users/new.html.erb -->
<h1>管理者新規作成</h1>

<%= flash[:alert] %>

<% if @admin.errors.any? %>
  <ul>
    <% @admin.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= render 'form', admin: @admin %>

<%= link_to '戻る', admins_path %>
