<h1 class="text-3xl text-gray-700">顧客情報の編集</h1>

<%= render 'form', customer: @customer %>

<%= link_to(customer_path(@customer)) do %>
  <div class="w-full flex items-center gap-x-3.5 py-2 text-gray-500 rounded-lg hover:text-gray-600 focus:outline-none focus:ring-1 focus:ring-gray-600">
    <p>キャンセル</p>
  </div>
<% end %>
