<h1 class="text-3xl text-gray-700">顧客新規作成</h1>

<% if @customer.errors.any? %>
  <ul>
    <% @customer.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= render 'form', customer: @customer %>
